---
import { SITE } from '../config';
---

<header>
  <div class="info">
    <div class="wrapper">
      <div class="side-by-side">
        <div>
          <h1>
            <small>Jinotega  •  Tweede editie • Gratis toegang!</small>
            Vogeltjesrace 2023
          </h1>
          <h2>Zaterdag 30 september van 14:00 tot 18:00</h2>
          <p>Locatie: Buurtvaart naast het CKC, parkeerplaats Osylaan.</p>
          <h3>Optreden liveband Small Talk • 
            Scouting Ashanti • Kinderactiviteiten • Springkussen • Kleurwedstrijd</h3>
        </div>
        <div></div>
      </div>
    </div>
  </div>
</header>

<style>
  header {
    background: linear-gradient(180deg, #E8DEC8 0.13%, #fff 50%, #74a4d7 calc(100% - 2rem));
    text-align: left;
    padding: 2rem 0rem 2rem;
  }

  @media (min-width:920px) {
    header {
      padding: 5rem 2rem 2rem;
    }
  }

  h1 {
    margin: 0;
    font-size: 3rem;
    max-width: 100%;
    font-family: Boogaloo;
    color: #DA3A37;
    line-height: 1;
  }

  h1 small {
    display: block;
    font-size: 0.5em;
    color: #A6B22A;
    line-height:1;
  }

  h2 {
    margin: 0;
    font-size: 1.75rem;
    max-width: 100%;
    font-family: Boogaloo;
    color: #F08535;
  }

  h3 {
    margin: 2rem 0;
    font-size: 1.25rem;
    max-width: 100%;
    font-family: Boogaloo;
    color: #565b00;
  }

  .info {
    color: #000;
  }

  .info p {
    color: #DA3A37;
    font-family: Boogaloo;
    margin-bottom: 1rem;
  }

  .side-by-side {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .side-by-side div:first-child {
    padding: 0rem;
  }

  @media (min-width:920px) {
    h1 {
      font-size: 4rem;
    }
    .side-by-side {
      grid-template-columns: 1fr 1fr;
    }
    .side-by-side div:first-child {
    padding: 2rem;
  }

  }
  .side-by-side div:last-child {
    aspect-ratio: 4/3;
    background: url(/assets/img/background.png) no-repeat bottom center/contain;
  }
</style>