<div class="cta">

  <h2>Kom je ook naar de Jinotega vogeltjesrace?</h2>
  <p>Zaterdag 17 september van 14:00 tot 18:00</p>
  <p>Buurtvaart naast het CKC, parkeerplaats Osylaan</p>
  <p>Gratis toegang</p>
</div>


<style>
  .cta {
    border-radius: 2rem;
    padding: 2rem;
    background: #fff;
    text-align: left;
    margin-bottom: 4rem;
    color: #2D4475;
  }

  h2 {
    margin: 0 0 1rem;
    font-size: 2rem;
    max-width: 100%;
    font-family: Boogaloo;
    color: #2D4475;
  }

  @media (min-width:920px) {
    .cta {
      padding: 4rem;
      background: #fff url(/assets/img/cta.jpg) no-repeat bottom right/contain;
      padding-right: 250px;
    }
    h2 {font-size: 3rem;}
  }

</style>