<div class="cta">

  <h2>Kom je ook naar de Jinotega vogeltjesrace?</h2>
  <p>Zaterdag 30 september van 14:00 tot 18:00 - Buurtvaart naast het CKC, parkeerplaats Osylaan</p>
  <p class="bold">Gratis toegang</p>
</div>


<style>
  .cta {
    border-radius: 2rem 2rem 0 0;
    padding: 1rem;
    background: #fff;
    text-align: left;
    color: #2D4475;
  }

  h2 {
    margin: 0 0 1rem;
    font-size: 2rem;
    max-width: 100%;
    font-family: Boogaloo;
    color: #F08535;
  }

  .bold {
  font-family: Salsa;
  color: #A6B22A;
  font-weight: bold;
  font-size:1.25rem;
  }

  @media (min-width:920px) {
    .cta {
      padding: 2rem;
      background: #fff;
      padding-right: 250px;
    }
    h2 {font-size: 3rem;}
  }

</style>
