<footer>
  <p>
    De Vogeltjesrace wordt georganiseerd door de Wereldwinkel Zoetermeer, Round
    Table 114 Zoetermeer en Lions De Meerbloem.
  </p>
  <p>
    Voor meer informatie: Yvette Feeke (Wereldwinkel Zoetermeer)
    06&nbsp;55421827, Andries Feijen (Round Table 114 Zoetermeer)
    06&nbsp;41490806 en Christ van Gestel (Lionsclub De Meerbloem)
    06&nbsp;51362509
  </p>
</footer>

<style>
  @media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
  }
  footer {
    text-align: center;
    padding: 4rem 2rem;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  footer p {
    max-width: 55ch;
    flex: 1 1 55ch;
  }
</style>
