---
import { SITE } from "../config";
---

<header>
  <video src="/assets/img/jinotega.mp4" loop muted playsinline></video>
  <div class="info">
    <div class="wrapper">
      <div class="side-by-side">
        <div>
          <h1>
            <small>Jinotega • Tweede editie • Gratis toegang!</small>
            Vogeltjesrace 2023
          </h1>
          <h2>Zaterdag 30 september van 14:00 tot 18:00</h2>
          <p>
            Locatie: Buurtvaart naast het CKC, parkeerplaats Osylaan, Zoetermeer
          </p>
          <h3>
            Optreden liveband Small Talk • Scouting Ashanti • Kinderactiviteiten
            • Springkussen • Kleurwedstrijd
          </h3>
          <a href="/adopteer/">Adopteer je Vogeltje(s)</a>
          <a class="secondary" href="#meer">Meer info</a>
        </div>
      </div>
    </div>
  </div>
</header>

<script>
  const video = document.querySelector("video");

  if (window.matchMedia("(prefers-reduced-motion: no-preference)").matches) {
    video.setAttribute("autoplay", "true");
    video.play();
  }
</script>

<style>
  header {
    position: relative;
    background: #2d4475;
    text-align: left;
    padding: 2rem 0rem 2rem;
    min-height: 80vh;
    display: grid;
    place-items: center;
  }

  video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-position: center;
    opacity: 0.33;
    object-fit: cover;
  }

  @media (min-width: 920px) {
    header {
      padding: 5rem 2rem 2rem;
    }
  }

  h1 {
    margin: 0;
    font-size: 3rem;
    max-width: 100%;
    font-family: Boogaloo;
    color: #fb9695;
    line-height: 1;
  }

  h1 small {
    display: block;
    font-size: 0.4em;
    color: #a6b22a;
    line-height: 1;
  }

  h2 {
    margin: 0;
    font-size: 1.75rem;
    max-width: 100%;
    font-family: Boogaloo;
    color: #f08535;
  }

  h3 {
    margin: 2rem 0;
    font-size: 1.25rem;
    max-width: 100%;
    font-family: Boogaloo;
    color: #b2b4a0;
  }

  .info {
    position: relative;
    color: #000;
  }

  .info p {
    color: #fb9695;
    font-family: Boogaloo;
    margin-bottom: 1rem;
  }

  .side-by-side {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  .side-by-side div:first-child {
    padding: 0rem;
  }

  @media (min-width: 920px) {
    h1 {
      font-size: 6rem;
    }
    h1 small {
      font-size: 2rem;
    }
    .side-by-side {
      grid-template-columns: 1fr;
    }
    .side-by-side div:first-child {
      padding: 2rem;
    }
  }

  header a {
    display: inline-block;
    background: #1f9439;
    border: 2px solid #1f9439;
    color: #fff;
    font-family: Boogaloo;
    padding: 0.5rem 2rem;
    font-weight: 500;
    font-size: 1.5rem;
    margin-right: 1rem;
    margin-bottom: 0.5rem
  }

  header a.secondary {
    display: inline-block;
    background: transparent;
    border: 2px solid #1f9439;
    color: #fff;
    font-family: Boogaloo;
    padding: 0.5rem 2rem;
    font-weight: 500;
    font-size: 1.5rem;
  }

  header a:hover,
  header a:focus {
    color: #1f9439;
    background: #fff;
    border-color: #fff;
    text-decoration: none;
  }
</style>
