---
---

<div class="logos">
  <img src="/assets/img/logos/wereldwinkel.png" alt="Wereldwinkel" />
  <img src="/assets/img/logos/roundtable.png" alt="Round Table 114 Zoetermeer" />
  <img src="/assets/img/logos/lions.png" alt="Lions de Meerbloem" />
  <img
    src="/assets/img/logos/lbsnn.png"
    alt="Landelijk beraad stedenbanden Nederland-Nicaragua"
    style="max-height:45px"
  />
</div>

<style>
  .logos {
    background: linear-gradient(180deg, #74a4d7, #2d4475 100%);
    display: flex;
    padding: 2rem 2rem 4rem;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
  .logos img {
    max-height: 66px;
  }
</style>
