---
---

<div class="logos">
  <img src="/assets/img/logos/dorpstraat.png" alt="Dorpstraat" />
  <img src="/assets/img/logos/wereldwinkel.png" alt="Wereldwinkel" />
  <img src="/assets/img/logos/roundtable.png" alt="Round Table" />
  <img src="/assets/img/logos/jinotega.png" alt="Stichting Jinotega" />
  <img src="/assets/img/logos/stichting.png" alt="Stichting iedereen een maaltijd" style="height:66px;border-radius:66px"/>
</div>


<style>
  .logos {
    background: linear-gradient(180deg, #74a4d7, #2D4475 100%);
    display:flex;
    padding:2rem 2rem 4rem;
    gap:1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }
</style>
