---
  import Cta from './Cta.astro'
---

<div class="map">
  <Cta />
  <iframe frameborder="0" title="Felt Map" src="https://felt.com/embed/map/Untitled-Map-aJAZzJTCRiyoikMF3GngxD?lat=52.057088&lon=4.497378&zoom=17.867"></iframe>
</div>


<style>
  .map {
    margin-bottom:4rem;
  }

  .map iframe {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 0 0 1rem 1rem;
  }

  @media (min-width:920px) {
  .map iframe {
    aspect-ratio: 16/6;
  }
}
</style>
