---
---

<div class="sponsorwrap">
<h2>Onze sponsors</h2>
  <div class="logos">
    <img src="/assets/img/logos/dear-logo.png" alt="DEAR" />
    <img src="/assets/img/logos/bibliotheek.jpg" alt="De Bibliotheek Forum Zoetermeer" />
    <img src="/assets/img/logos/lbsnn.jpg" alt="Landelijk Beraad Stedenbanden Nederland-Nicaragua" />
    <img src="/assets/img/logos/claasen.png" alt="Claasen Coatings" />
    <img src="/assets/img/logos/1892-dark.png" alt="Restaurant 1892 Eten en Drinken" />
    <img src="/assets/img/logos/kaashuis.png" alt="'t Kaashuys" />
  </div>
  <p>Wilt u de vogeltjesrace ook sponsoren? Lees meer over onze <a href="#sponsoring">sponsoringsmogelijkheden</a>.</p>
</div>

<style>
  .sponsorwrap {
    text-align: center;
    margin: 5rem 0;
    background: #fff linear-gradient(180deg, #2D4475, #fff 3rem, #fff calc(100% - 3rem), #2D4475 100%);
    padding: 8rem 0;
    color: #2D4475;
  }
  .sponsorwrap a {
    font-weight: bold;
    color: #a6b22a;
    text-decoration: underline;
  }
  .sponsorwrap a:hover,
  .sponsorwrap a:focus {
      color: #F08535;
  }
  .sponsorwrap h2 {
  text-align: center;
      margin: 0 0 1rem;
      font-size: 3rem;
      max-width: 100%;
      font-family: Boogaloo;
      color: #F08535;
      text-align: center;
  }
  .logos {
    display:flex;
    padding:2rem 2rem 4rem;
    gap:1rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
  }

  .logos img {
  max-width: 180px;
  max-height: 50px;
  }
</style>
